{% block navtabs %}
    <ul class="nav nav-tabs">
        <li id="tabOverview"><a href="{{ path('spiritstock_stock_settings_overview') }}">{{ "tabs.overview"|trans }}</a></li>
        <li id="tabStock"><a href="{{ path('spiritstock_stock_settings_stock') }}">{{ "tabs.stock"|trans }}</a></li>
        <li id="tabTypes"><a href="{{ path('spiritstock_stock_settings_types') }}">{{ "tabs.types"|trans }}</a></li>
        <li id="tabGlobal"><a href="{{ path('spiritstock_stock_settings_global') }}">{{ "tabs.global"|trans }}</a></li>
    </ul>

    <script type="text/javascript">
        $(document).ready(function() {
            var tabControl = new SpiritStock.Tabs();
            tabControl.setActiveTab("{{ activeTab }}");
        });
    </script>
{% endblock %}