{% extends "LiberBeleggersBundle::layout.html.twig" %}
{% use 'LiberBeleggersBundle::helpbar.html.twig' %}

{% block title %}
    {{ 'titles.settings.global'|trans }} - {{ 'titles.settings.general'|trans }}
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <form action="" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}


        <div class="clearfix">
            <input class="btn btn-primary" type="submit" value="{{ 'form.button.general.confirm'|trans }}" />
        </div>

    </form>
{% endblock %}

