{% extends "LiberBeleggersBundle::layout.html.twig" %}

{% use 'LiberBeleggersBundle::Settings/tabs.html.twig' %}
{% use 'LiberBeleggersBundle::helpbar.html.twig' %}

{% block title %}
    {{ 'titles.settings.global'|trans }} - {{ 'titles.settings.general'|trans }}
{% endblock %}

{# Remove links if no settings are found so settings must be set#}
{% block content_header %}
    {% if not missingSettings %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <form action="" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}


        <div class="clearfix">
            <input class="btn btn-primary" type="submit" value="{{ 'form.button.general.confirm'|trans }}" />
            <a href="{{ path('liber_beleggers_settings_reset') }}" class="btn btn-danger pull-right" onclick="return confirm('{{ 'form.confirm.global.reset'|trans }}');">{{ 'form.button.global.reset'|trans }}</a>
        </div>

    </form>
{% endblock %}

