{% extends "LiberBeleggersBundle::layout.html.twig" %}
{% use 'LiberBeleggersBundle::Settings/tabs.html.twig' %}
{% use 'LiberBeleggersBundle::helpbar.html.twig' %}

{% block title %}
    {{ 'titles.settings.overview'|trans }} - {{ 'titles.settings.general'|trans }}
{% endblock %}

{% block content %}
    <h3>{{ 'headers.overview.global'|trans }}</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>{{ 'table.global.header.currency'|trans }}</td>
            <td>{{ 'table.global.header.unitPrice'|trans }}</td>
        </tr>
        </thead>
            <tr>
                <td>{{ settings.currency }}</td>
                <td>{{ settings.unitPrice }}</td>
            </tr>
    </table>

    <h3>{{ 'headers.overview.stock'|trans }}</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>{{ 'table.header.name'|trans }}</td>
                <td>{{ 'table.stock.header.startingPrice'|trans }} &euro;</td>
                <td>{{ 'table.stock.header.currentPrice'|trans }} &euro;</td>
                <td>{{ 'table.stock.header.max'|trans }} &euro;</td>
                <td>{{ 'table.stock.header.min'|trans }} &euro;</td>
                <td>{{ 'table.stock.header.startingStock'|trans }}</td>
                <td>{{ 'table.stock.header.currentStock'|trans }}</td>
                <td>{{ 'table.stock.header.stockType'|trans }}</td>
            </tr>
        </thead>
        {% for row in stock %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.startingPrice }}</td>
                <td>{{ row.currentPrice }}</td>
                <td>{{ row.maxPrice }}</td>
                <td>{{ row.minPrice }}</td>
                <td>{{ row.startingStock }}</td>
                <td>{{ row.currentStock }}</td>
                <td>{{ row.stockType.name }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>{{ 'headers.overview.types'|trans }}</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>{{ 'table.header.name'|trans }}</td>
            <td>{{ 'table.stockType.header.timeToMinimum'|trans }}</td>
            <td>{{ 'table.stockType.header.magicToMaximum'|trans }}</td>
        </tr>
        </thead>
        {% for row in types %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.startToMinimum//60 }}h {{ row.startToMinimum%60 }}m </td>

                {% if row.magicToMaximum > 0 and row.magicToMaximum < 0.3 %}
                    <td style="text-align:center;">
                        <span class="label label-warning" data-toggle="tooltip" title="{{ row.magicToMaximum }}" style="cursor: default;">
                            {{ 'table.stockType.indicator.slow'|trans }}
                        </span>
                    </td>
                {% elseif row.magicToMaximum >= 0.3 and row.magicToMaximum < 0.6 %}
                    <td style="text-align:center;">
                        <span class="label label-success" data-toggle="tooltip" title="{{ row.magicToMaximum }}" style="cursor: default;">
                            {{ 'table.stockType.indicator.medium'|trans }}
                        </span>
                    </td>
                {% else %}
                    <td style="text-align:center;">
                        <span class="label label-important" data-toggle="tooltip" title="{{ row.magicToMaximum }}" style="cursor: default;">
                            {{ 'table.stockType.indicator.fast'|trans }}
                        </span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}

