{% extends "LiberBeleggersBundle::layout.html.twig" %}
{% use 'LiberBeleggersBundle::Settings/tabs.html.twig' %}
{% use 'LiberBeleggersBundle::helpbar.html.twig' %}

{% block title %}
    {{ 'titles.settings.stock'|trans }} - {{ 'titles.settings.general'|trans }}
{% endblock %}

{% form_theme form 'LiberBeleggersBundle::form_tablerow_layout.html.twig' %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <form action="" method="post" {{ form_enctype(form) }}>
    <div id="jPageType" class="hidden">stock</div>

    {{ form_start(form) }}

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>{{ 'table.header.name'|trans }}</td>
            <td>{{ 'table.stock.header.startingPrice'|trans }} &euro;</td>
            <td>{{ 'table.stock.header.currentPrice'|trans }} &euro;</td>
            <td>{{ 'table.stock.header.max'|trans }} &euro;</td>
            <td>{{ 'table.stock.header.min'|trans }} &euro;</td>
            <td>{{ 'table.stock.header.startingStock'|trans }}</td>
            <td>{{ 'table.stock.header.currentStock'|trans }}</td>
            <td>{{ 'table.stock.header.stockType'|trans }}</td>
            <td>{{ 'table.header.control'|trans }}</td>
        </tr>
        </thead>
         <tbody class="stockCollection" data-prototype="{{ form_widget(form.stocks.vars.prototype)|e }}">
            {% for stock in form.stocks %}
                <tr>
                    {{ form_widget(stock) }}
                    <td class="form_control">
                        <a href="#" class="stock_remove_existing" data-toggle="tooltip" title="{{ 'form.control.stock.removeExisting'|trans }}">
                            <span class="icon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="clearfix">
        <input class="btn btn-primary" type="submit" value="{{ 'form.button.general.confirm'|trans }}" />
        <a href="#" class="pull-right btn btn-info add_stock_link">{{ 'form.button.stock.add'|trans }}</a>
        <a href="#" class="pull-right btn btn-danger remove_entire_stock" style="margin-right: 15px;">{{ 'form.button.general.clearAll'|trans }}</a>
    </div>

    {{ form_end(form) }}
    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            var tableForm = new Liber.TableForm();
            tableForm.init();
        });
    </script>

{% endblock %}

