{% extends "LiberBeleggersBundle::layout.html.twig" %}
{% use 'LiberBeleggersBundle::helpbar.html.twig' %}

{% block title "Types - Settings" %}

{% form_theme form 'LiberBeleggersBundle::form_tablerow_layout.html.twig' %}

{% block content %}
    <div id="jPageType" class="hidden">type</div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_start(form) }}

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td>Name</td>
                <td>Time (minutes) to minimum price</td>
                <td>Magic increase number</td>
            </tr>
            </thead>
            <tbody class="stockCollection" data-prototype="{{ form_widget(form.stockTypes.vars.prototype)|e }}">
            {% for type in form.stockTypes %}
                <tr>
                    {{ form_widget(type) }}
                    <td class="form_control">
                        <a href="#" class="stock_remove_existing" data-toggle="tooltip" title="Remove existing stock">
                            <span class="icon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="clearfix">
            <input class="btn btn-primary" type="submit" value="Confirm Changes" />
            <a href="#" class="pull-right btn btn-info add_stock_link">Add Type</a>
            {#<a href="#" class="pull-right btn btn-danger remove_entire_stock" style="margin-right: 15px;">Clear All</a>#}
        </div>

        {{ form_end(form) }}
    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            var stockForm = new Liber.StockForm();
            stockForm.init();
        });
    </script>

{% endblock %}

