{% extends "LiberBeleggersBundle::layout.html.twig" %}
{% use 'LiberBeleggersBundle::helpbar.html.twig' %}

{% block title "Stock Overview" %}

{% block content %}

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Starting &euro;</td>
                            <td>Current &euro;</td>
                            <td>Maximum &euro;</td>
                            <td>Minimum &euro;</td>
                            <td>Starting stock</td>
                            <td>Current stock</td>
                            <td>Type</td>
                        </tr>
                    </thead>
                    {% for row in stock %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.startingPrice }}</td>
                            <td>{{ row.currentPrice }}</td>
                            <td>{{ row.maxPrice }}</td>
                            <td>{{ row.minPrice }}</td>
                            <td>{{ row.startingStock }}</td>
                            <td>{{ row.currentStock }}</td>
                            <td>{{ row.stockType.name }}</td>
                        </tr>
                    {% endfor %}
                </table>

{% endblock %}

