{% extends "SpiritStockStockBundle::layout.html.twig" %}

{% block title %}Administration{% endblock %}

{% block brand %}<a class="brand" href="{{ path('spirit_stock_admin_index') }}">{{ 'titles.general.appName'|trans }} {{ version }}</a>{% endblock %}

{% block spanOverride %}
    <div class="span12">
{% endblock %}

{% block content_header %}
    <ul class="nav">
        <li><a href="{{ path('spirit_stock_admin_user') }}">{{ 'admin.menu.users'|trans }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ 'admin.headers.welcome'|trans }}, {{ user|capitalize }}</h1>
    {{ 'admin.texts.main'|trans|raw }}
    <div>

    </div>
{% endblock %}